:host {
  display: inline-block;
  align-self: flex-start;
}

.BaseColorPicker {
  display: block;
  cursor: pointer;
  position: relative;

  &,
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  .Label {
    display: block;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.18;
    color: var(--text_main);
    letter-spacing: .25px;
    
    ::slotted([slot="label"]) {
      display: block;
      padding-bottom: 4px;
    }
  }

  .Field{
    border: 1px solid var(--border);
    border-radius: 4.44px;
  }

  .Field,
  .SelectedColor {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--border_12);
    width: 44px;
    height: 26px;
    padding: 0 4px;

    .ColorPreview {
      width: 16px;
      height: 16px;
      border-radius: 2px;
      background-color: var(--title);
    }

    .Arrow {
      transition: all ease .3s;
    }
  }

  .ColorList {
    position: absolute;
    top: 100%;
    left: -1px;
    border: 1px solid var(--border);
    border-radius: 4.44px;
    width: 90%;
    max-height: 112px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    z-index: 1;
    background-color: var(--border_secondary)
  }

  &.opened {
    .Field .Arrow {
      transform: rotate(180deg);
    }

    .ColorList {
      display: block;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }
}