.container {
  &,
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  ::slotted([slot="item"]) {
    display: block;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ::slotted([slot="item"]:last-child) {
    margin-bottom: 0;
  }
}