:host {
  display: inline-block;
  align-self: flex-start;
}

:host([width="full"]) {
  display: block;
  width: 100%;
}

.BaseButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px 18px;
  border-radius: 6.22px;
  width: 100%;
  height: auto;
  border: none;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: .25px;
  transition: background-color .3s;

  color: var(--background_main);
  background-color: var(--button_primary);
  
  &:hover {
    background-color: var(--button_primary_86);
  }
  
  &:active {
    background-color: var(--button_primary_72);
  }

  & > .Icon {
    display: none;
    padding-right: 4px;
    fill: var(--button_primary);
  }

  &.theme_secondary {
    color: var(--text_main);
    background-color: var(--border_12);
    
    &:hover {
      background-color: var(--border_18);
    }
    
    &:active {
      background-color: var(--border_24);
    }
  }

  &.theme_green {
    color: var(--success);
    background-color: var(--success_12);
    
    &:hover {
      background-color: var(--success_18);
    }
    
    &:active {
      background-color: var(--success_24);
    }
  }

  &.theme_blueSec {
    color: var(--button_primary);
    background-color: var(--button_primary_12);
    
    &:hover {
      background-color: var(--button_primary_18);
    }
    
    &:active {
      background-color: var(--button_primary_24);
    }
  }

  &.theme_red {
    color: var(--danger);
    background-color: var(--danger_12);
    
    &:hover {
      background-color: var(--danger_18);
    }
    
    &:active {
      background-color: var(--danger_24);
    }
  }

  &.theme_with-plus {
    border: none;
    color: var(--button_primary);
    background-color: transparent;
    padding: 0 !important;

    & > .Icon {
      display: block;
      padding-bottom: 2px;
    } 
  }

  &:disabled {
    &,
    &:hover,
    &:active {
      cursor: not-allowed;
      color: var(--text_secondary);
      background-color: var(--border);
    }

    &.theme_with-plus {
      background-color: transparent;
      
      & > .Icon {
        fill: var(--text_secondary);
      }
    }
  }

  &.size_big {
    font-size: 15px;
    padding: 11px 22px;
    border-radius: 8.88px;
  }

  &.size_middle {
    font-size: 13px;
  }

  &.size_small {
    font-size: 11px;
    padding: 4px 13px;
    border-radius: 4.66px;

    & > .Icon {
      align-self: baseline;
    }
  }
}
