.container {
  width: 100%;
  min-width: 150px;
  height: 100%;
  padding: 12px;
  position: relative;

  $transition-time: 0.3s;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  details {
    font-size: 16px;
    box-shadow: inset 0px -2px 0px var(--border);
    padding: 12px;
  }

  details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
  }

  @keyframes sweep {
    0% {
      opacity: 0;
      margin-left: -10px;
    }
    100% {
      opacity: 1;
      margin-left: 0px;
    }
  }

  details[open] {
    border: none;
    border-radius: 2px;
  }

  details[open] .arrow-icon {
    transform: rotate(180deg);
  }

  details[open]:first-child {
    border: none;
  }

  details[open]:last-child {
    border: none;
  }

  #toolIcons {
    display: flex;

    ::slotted([slot="icon"]) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      border-radius: 8.88px;
      width: 24px;
      height: 24px;
    }

    ::slotted([slot="icon"]:hover) {
      background-color: var(--border_secondary);
    }
  }

  .arrow-icon {
    color: #0579f7;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
    transform: rotate(0deg);
  }

  summary {
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary > p {
    font-size: 1rem;
    margin: 0;
  }
}
