:host {
  display: block;
  align-self: flex-start;
}

.GaugeSegmentBuilder {
  color: var(--text_main);
  font-family: 'Proxima Nova';
  font-weight: 600; 

  .List {
  }

  .FieldsRow {
    display: flex;
    align-items: start;
    padding-bottom: 10px;
  }

  .InputsWrapper {
    display: flex;
    align-items: start;
    column-gap: 3px;
    width: 100%;
    margin-right: 20px;

    .Divider {
      display: block;
      width: 29px;
      border-top: 2px solid var(--border);
      margin-top: 13px;
    }
    
    .FieldInput {
      width: 100%;
    }
  }

  .ColorPickerBtnsWrapper {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }

  .IconBtn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    .Icon {
      &.notification {
        fill: var(--border);

        &:hover {
          fill: var(--button_primary);
        }
      }

      &.trash {
        fill: var(--danger_24);

        &:hover {
          fill: var(--danger);
        }
      }
    }
  }
}