$border-radius: 6.66px;
$inner-offset: 2px;

@mixin border-offset($value) {
  top: $value;
  left: $value;
  right: $value;
  bottom: $value;
}

:host {
  display: flex;
  flex-direction: column;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  z-index: -1;

  &:disabled ~ .BaseFileLoader {
    cursor: not-allowed;
  }
}

.Label {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.18;
  color: var(--text_main);
  letter-spacing: .25px;

  ::slotted([slot="label"]) {
    display: block;
    padding-bottom: 4px;
  }
}

.BaseFileLoader {
  display: block;
  width: 100%;
  flex: 1;
  cursor: pointer;
  background-color: var(--border_secondary);
  border: 1px solid var(--border);
  border-radius: $border-radius;
  padding: 15px;
  user-select: none;
  position: relative;
  transition: .3s;

  &::after {
    content: '';
    position: absolute;
    border-radius: $border-radius;
    border: 1px dashed var(--border);
    transition: .3s;
    pointer-events: none;
    @include border-offset($inner-offset);
  }

  &.theme_imageLoad {
    height: 50px;
    width: 50px;
    padding: 0px;

    &::after {
      border: none;
      height: 50px;
      width: 50px;
    }

    .Content {
      height: 50px;
      width: 50px;
    }
  } 

  &.dragover {
    &::after {
      @include border-offset($inner-offset + 3px);
    }

    *,
    ::slotted([slot='icon']) {
      pointer-events: none;
    }
  }

  .Content  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .IconSlot {
      display: flex;
      align-items: center; 
      justify-content: center;

      .DefaultIcon {
        fill: var(--text_secondary);
      }
    }

    .Title {
      color: var(--text_secondary);
      font-family: 'Proxima Nova';
      font-size: 10px;
      font-weight: 600;
      text-align: center;
      line-height: 12px;
      overflow-wrap: break-word;
      max-width: 100%;
      margin-top: 2px;

      &:empty {
        margin-top: 0;
      }
    }

    .outputImage {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .hidden {
      display: none;
    }
  }
}
