.BaseTimeWindowPicker {
  &,
  *,
  &::after,
  &::before,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .DatesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & > * {
      flex: 1 1 auto;
    }
  }
}