:host {
  display: block;
  position: relative;
}

.BaseDateTimePicker {
  .input-wrapper {
    position: relative;
  }

  .date-toggle {
    display: inline-flex;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
    }
  }

  .calendar-dropdown {
    display: none;
    max-height: 276px;
    position: absolute;
    top: 120%;
    right: 0;
    z-index: 1000;
    background: var(--background_secondary);
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(8, 18, 55, 0.12), 0px 4px 12px rgba(8, 18, 55, 0.12);
    padding: 8px;
    gap: 8px;
    max-width: calc(230px - 8px - 8px);
    width: 100%;
  
    &.top {
      top: auto;
      bottom: 100%;
      transform: translate(-50%, -8px);
    }
  
    &.left {
      top: 50%;
      left: 0;
      transform: translate(calc(-8px + -100%), -50%);
    }
  
    &.right {
      top: 50%;
      left: 100%;
      transform: translate(8px, -50%);
    }
  
    &.visible {
      display: flex;
    }
  }

  .calendar-wrapper {
    display: flex;
    flex-direction: column;
    width: 214px;
    background: var(--background_main);
    border-radius: 4px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 4px 0 4px;

    svg {
      cursor: pointer;
    }

    h4 {
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: var(--button_primary);
      
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    margin-top: 15px;
    height: 24px;
    align-items: center;

    span {
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 12px;
      text-align: center;
      color: var(--accent);
    }
  }

  .month-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .button-wrapper {
    padding-top: 13px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 9px;
    margin-top: auto;
  }

  .month-day {
    height: 24px;
    width: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: var(--text_secondary);
    cursor: pointer;
    border: none;
    background: var(--background_main);

    &.current {
      color: var(--text_main);
    }

    &.weekend {
      color: var(--danger);
    }

    &.inRange {
      background: var(--button_primary_24);
    }
    
    &.selected {
      background: var(--button_primary);
      color: var(--background_main);
    }

    &:hover:not(.selected) {
      background: var(--button_primary_12);
      color: var(--text_main);
    }
  }

  .time-input-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }

  .time-input-wrapper {
    display: flex;
    justify-content: center;

    &.second {
      display: none;
    }
  }

  .time-separator {
    display: none;
    margin: 0 5px;
  }

  .vdpTimeUnit {
    display: inline-block;
    position: relative;
    vertical-align: middle;
  
    & > pre,
    & > input {
      padding: 0.1em 0.1em;
      word-wrap: break-word;
      white-space: pre-wrap;
      resize: none;
      margin: 0;
      box-sizing: border-box;
      border: 0;
      border-bottom: 1px solid transparent;
      text-align: center;
    }
  
    & > pre {
      visibility: hidden;
      font-family: inherit;
    }
  
    & > input {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;
      outline: none;
      padding: 0;
      appearance: none;
      border-radius: 0;
      background: transparent;
  
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
  
    & > input:disabled {
      border-bottom-color: transparent;
    }
  
    & > input::-webkit-inner-spin-button,
    & > input::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }

  .vdpTimeSeparator,
  .vdpTimeCaption {
    display: inline-block;
    vertical-align: middle;
  }
  
  .vdpTimeSeparator,
  .vdpTimeCaption,
  .vdpTimeUnit > pre,
  .vdpTimeUnit > input {
    // styles "Main Text"
    color: var(--text_main);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.3;
  }

  .vdpTimeSeparator {
    margin: 0.1em 0 .1em .1em;
  }

  .vdpTimeCaption {
    margin-right: 0.5em;
  }

  .TimeWindows {
    display: none;
    flex-direction: column;
    gap: 6px;
    overflow-y: auto;
  }


  &.with-timepicker {
    .time-input-container {
      display: flex;
    }

    .button-wrapper {
      margin-top: 0;
    }
  }

  &.with-timewindows {
    .calendar-dropdown {
      max-width: calc(385px - 8px - 8px);
    }

    .TimeWindows {
      display: flex;
    }
  }

  &.type-range {
    .time-input-wrapper {
      &.second {
        display: flex;
      }
    }

    .time-separator {
      display: block;
    }
  }
}
