@import '../BaseInput/BaseInput.scss';

.BaseInput {
  textarea.Field {
    max-width: 100%;
  }

  &,
  &.size_big,
  &.size_small {
    textarea.Field {
      height: auto;
    }
  }

  &.resize_off {
    textarea.Field {
      resize: none;
    }
  }
}