.DataSourceSelect {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  column-gap: 10px;

  & > * {
    flex: 1 1 10em;
  }

  .CreateSourseButton {
    max-width: 65%;
    padding-top: 17px;
    height: 50%;
  }
}