:host {
  display: inline-block;
}

.BaseCheckbox {
  display: block;
  position: relative;

  &,
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  .Label {
    display: block;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.18;
    color: var(--text_main);
    letter-spacing: .25px;

    position: absolute;
    max-width: 100vw;
    width: max-content;
    bottom: 100%;
    padding-bottom: 4px;
  }

  &.placement_right {
    .Label {
      top: auto;
      bottom: 100%;
      right: 0; 
    }
  }

  &.placement_left {
    .Label {
      top: 0;
      left: auto;
      right: 100%;      
    }
  }

  .Input {
    display: none;

    &:checked ~ .Сheckbox {
      border-color: var(--base-checkbox-color, var(--button_primary));
      background-color: var(--base-checkbox-color, var(--button_primary));

      .Icon {
        opacity: 1;
      }
    }

    &:disabled {
      & ~ .Сheckbox,
      & ~ .Label {
        border-color: var(--base-checkbox-color, var(--border_24));
        background-color: var(--base-checkbox-color, var(--border_24));
        cursor: not-allowed;
      }

      & ~ .Сheckbox {
        .Icon {
          fill: var(--border);
        }
      }
    }
  }

  .Сheckbox {
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid var(--border);
    border-radius: 4.44px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  
    .Icon {
      fill: #FEFEFE;
      opacity: 0;
    }
  }
}
