:host {
  display: inline-block;
}

.BaseCheckbox {
  display: flex;
  flex-direction: column;

  &.placement_right {
    flex-direction: row-reverse;

    .Label {
      margin-left: 10px;
      margin-right: auto;

      ::slotted([slot="label"]) {
        padding-bottom: 0px;
      }
    }
  }

  &.placement_left {
    flex-direction: row;

    .Label {
      margin-right: 10px;

      ::slotted([slot="label"]) {
        padding-bottom: 0px;
      }
    }
  }

  &,
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  .Label {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.18;
    color: var(--text_main);
    letter-spacing: .25px;

    ::slotted([slot="label"]) {
      display: block;
      padding-bottom: 4px;
    }
  }

  .Input {
    display: none;

    &:checked ~ .小heckbox {
      border-color: var(--base-checkbox-color, var(--button_primary));
      background-color: var(--base-checkbox-color, var(--button_primary));

      .Icon {
        opacity: 1;
      }
    }

    &:disabled {
      & ~ .小heckbox,
      & ~ .Label {
        border-color: var(--base-checkbox-color, var(--border_24));
        background-color: var(--base-checkbox-color, var(--border_24));
        cursor: not-allowed;
      }

      & ~ .小heckbox {
        .Icon {
          fill: var(--border);
        }
      }
    }
  }

  .小heckbox {
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid var(--border);
    border-radius: 4.44px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  
    .Icon {
      fill: #FEFEFE;
      opacity: 0;
    }
  }
}
