:host {
  display: block;
}

.BaseExpander {
  &,
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  summary {
    display: flex;
    align-items: center;
    cursor: pointer;
  
    &::-webkit-details-marker {
      display: none;
    }
  }

  .ContentWrapper {
    padding-top: 8px;
  }

  ::slotted([slot="summary"]) {
    margin-right: 16px;
    flex-grow: 1;
  }

  .Icons {
    display: flex;
    align-items: center;

    ::slotted([slot="icon"]) {
      & > * {
        max-width: 22px;
        max-height: 22px;
      }
    }
  }

  .ArrowIcon > *,
  ::slotted([slot="icon-arrow"]) {
    flex: none;
    max-width: 24px;
    max-height: 24px;
    transform: rotate(0deg);
    transition: transform 0.3s;
    color: var(--button_primary);
    
    path,
    rect {
      fill: var(--button_primary);
    }
  }

  &[open] {
    border: none;

    summary ~ * {
      animation: sweep .3s ease-in-out;
    }
  
    @keyframes sweep {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .ArrowIcon > *,
    ::slotted([slot="icon-arrow"]) {
      transform: rotate(180deg);
    }

    &.theme_rotate90 {
      &:not(.theme_iconLeft) {
        .ArrowIcon > *,
        ::slotted([slot="icon-arrow"]) {
          transform: rotate(90deg);
        }
      }

      &.theme_iconLeft {
        .ArrowIcon > *,
        ::slotted([slot="icon-arrow"]) {
          transform: rotate(-90deg);
        }
      }
    }
  }
  
  &.with_borderBottom {
    border-bottom: 2px solid var(--background_secondary);

    summary {
      padding: 12px;
    }

    .ContentWrapper {
      padding: 0 12px 12px;
    }

    &[open] {
      summary {
        padding-bottom: 8px;
      }
    }
  }

  &.theme_iconLeft {
    summary {
      flex-direction: row-reverse;
      column-gap: 5px;
    }

    ::slotted([slot="summary"]) {
      margin-right: 0;
    }
  }
}
